div#campo {
    background: no-repeat url("../images/fondo.jpg") ;
    width: 1652px;
    height: 945px;
    margin: auto;
}
div#mensajes{
    background: no-repeat url("../images/contador.jpg") ;
    position: relative;
    width: 688px;
    height: 515px;
    top: 500px;
    right: -500px;
}


div#nube {
    position: relative;
    background: no-repeat url("../images/nube.png");
    width: 500px;
    height: 500px;
}
div#lluvia{
    background: no-repeat url("../images/lluvia-removebg-preview.png");
    position: relative;
    width: 300px;
    height: 698px;
}
div#sol{
    background: no-repeat url("../images/sol.png");
    position: relative;
    width: 640px;
    height: 360px;
    top: -500px;
    right: -1000px;

}